extends layout

block content
    .welcome
        .container
            .welcome-top.heading
                h3 WELCOME
            .welcome-bottom
                img(src='images/abt-1.jpg', alt='')
                p
                | Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam. Nullam non magna lobortis, faucibus erat eu, consequat justo. Suspendisse commodo nibh odio, vel elementum nulla luctus sit amet.
                p
                | Nulla in tempor lectus. Etiam ac mauris lacinia nulla ultricies porta sit amet eleifend ligula. Quisque tincidunt vitae turpis at efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis, magna a sagittis dapibus, ipsum metus interdum lectus, quis feugiat leo ipsum nec diam.
        // welcome-end
        // team-starts
    .team
        .container
            .team-top.heading
                h3 OUR TEAM
            .team-bottom
                .col-md-3.team-left
                    img(src='images/t-1.jpg', alt='')
                    h4 Rita Nelson
                    p Fusce at elementum diam. Integer pellentesque ultricies pharetra.
                .col-md-3.team-left
                    img(src='images/t-2.jpg', alt='')
                    h4 Marta Healy
                    p Fusce at elementum diam. Integer pellentesque ultricies pharetra.
                .col-md-3.team-left
                    img(src='images/t-3.jpg', alt='')
                    h4 John Black
                    p Fusce at elementum diam. Integer pellentesque ultricies pharetra.
                .col-md-3.team-left
                    img(src='images/t-4.jpg', alt='')
                    h4 Kate Tompson
                    p Fusce at elementum diam. Integer pellentesque ultricies pharetra.
                .clearfix
